h2{
    color: blue;
}
#header{
    position: fixed;
    top: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img#header-img {
    width: 100px;
    height: 100px;
}
#form{
    display: flex;
    flex: 0 0 1;
    flex-direction: column;
    max-width: 300px;
}
@media (max-width:4080px) {
    #form {
      height: 300px;
      background-color: red;
    }
}
@media (max-width:1080px) {
    #form {
      height: 300px;
      background-color: green;
    }
}